* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1d1d;
}

body, #root, .App {
    width: 100vw;
    height: 100vh;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1.3rem;

    .Container {
        display: flex;
        padding: .8rem;
        background-color: #2d2d2d2d;
        max-width: 40rem;
        flex-direction: column;

        .next {
            $tamanho: 4.5rem;
            
            text-decoration: none;
            color: #ffffff;
            height: $tamanho;
            width: $tamanho;
            align-self: center;
            opacity: 20%;


            &:hover {
                opacity: 90%;
            }
        }

        figcaption {
            color: #ffffff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 1.2em;
            opacity: 20%;
            align-self: start;
            margin-top: -2rem;
            position: absolute;
            margin-left: .6rem;
            min-width: 10rem;
            

            &:hover {
                opacity: 90%;
            }
        }
    }
}